.count {
  font-size: 14px;
  font-weight: 900;
  color: black;
  position: absolute;
  border: solid white;
  border-radius: 60%;
  height: 18px;
  width: 18px;
  top: 20px;
  right: 28px;
  text-align: center;
  background: white;
}
