.card {
  padding: 20px;
}

.container {
  margin-bottom: 100px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

button.btn {
  padding: 5%;
  font-size: smaller;
  margin: 0%;
}

.btnBox {
  margin: 0%;
  padding: 0%;
  margin-top: auto;
}
