<div class="container mt-5">
  <div class="card">
    <div class="card-block">
      <!-- <div class="form-group">
        <label for="search">Search By Name : </label>
        <input
          type="search"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchStudent"
        />
      </div> -->

      <div class="form-group">
        <label for="search">Search By Name : </label>
        <input
          type="search"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="searchStudent"
        />
      </div>

      <h1 class="text-center mt-4">Students</h1>
      <!-- <div
        class="col mt-3"
        *ngFor="
          let student of searchFilterService.Students
            | searchFilter: searchStudent 
        "
      > -->

      <div
      class="col mt-3"
      *ngFor="
        let student of searchFilterService.Students
          | dynamicFilter: searchStudent : ['name', 'email']
      "
    >
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ student.name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{student.name}}</h6>
            <p class="card-text">
             <a href="mailto : {{ student.email }}">{{ student.email  }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
