<footer class="bg-dark mt-5" >
    <div class="container p-0">
        <div class="row text-white py-3">
            
            <div class="col-12 text-center">
                <!-- <small appHighlight>Lorem ipsum dolor sit amet consectetur</small> -->
                <small>Lorem ipsum dolor sit amet consectetur</small>
                <!-- <button appLongPress (mouseLongPress)="onLongPress()" (click)="onLongPress()">Increment</button> -->
            </div>
        </div>
    </div>
</footer>
